In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load
weather_data_to_load = "Resources/weather_data.csv"
population_data_to_load = "Resources/State_population_dens_v1.csv"
flu_data_to_load="Resources/flu_data.csv"
gdp_data_to_load="Resources/GDP.csv"
age_to_load="Resources/age_demographic.csv"

# Read the weahter and state Data
weather_df = pd.read_csv(weather_data_to_load, low_memory=False)
population_df=pd.read_csv(population_data_to_load, low_memory=False, thousands=',')
flu_df=pd.read_csv(flu_data_to_load, low_memory=False)
gdp_df=pd.read_csv(gdp_data_to_load, low_memory=False)
age_df=pd.read_csv(age_to_load, low_memory=False)

In [2]:
weather_df.head()

  US State Name State    Month   Avg_temp
0       Alabama    AL  January  45.525000
1        Alaska    AK  January  11.930000
2       Arizona    AZ  January  45.960000
3      Arkansas    AR  January  40.433333
4    California    CA  January  49.237500

In [3]:
population_df.head()

             state_name  Density (Pop./ mi2)  Population Abbreviation State
0  District of Columbia              11011.0      672228         D.C.    DC
1            New Jersey               1218.0     8958013         N.J.    NJ
2           Puerto Rico               1046.0     3680058         P.R.    PR
3          Rhode Island               1021.0     1056298         R.I.    RI
4         Massachusetts                871.0     6794422        Mass.    MA

In [4]:
gdp_df.head()

           State GDP per capita
0  Massachusetts         62,332
1       New York         62,414
2    Connecticut         63,833
3         Alaska         69,326
4       Delaware         63,101

In [5]:
age_df.head()

,State,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+
0,United States,0.24,0.09,0.12,0.26,0.13,0.16
1,Alabama,0.24,0.09,0.11,0.26,0.14,0.17
2,Alaska,0.27,0.09,0.14,0.26,0.13,0.11
3,Arizona,0.25,0.09,0.12,0.25,0.12,0.17
4,Arkansas,0.25,0.09,0.11,0.25,0.13,0.17

In [6]:
weather_pop_df = pd.merge(weather_df, population_df, on="State", how="left")
weather_pop_df.head()

,US State Name,State,Month,Avg_temp,state_name,Density (Pop./ mi2),Population,Abbreviation
0,Alabama,AL,January,45.525000,Alabama,95.0,4858979,Ala.
1,Alaska,AK,January,11.930000,Alaska,1.0,738432,Alaska
2,Arizona,AZ,January,45.960000,Arizona,60.0,6828065,Ariz.
3,Arkansas,AR,January,40.433333,Arkansas,57.0,2978204,Ark.
4,California,CA,January,49.237500,California,251.0,39144818,Calif.

In [7]:
weather_pop_df['UID'] = weather_pop_df['US State Name'] + weather_pop_df['Month']

In [8]:
weather_pop_df.head()

,US State Name,State,Month,Avg_temp,state_name,Density (Pop./ mi2),Population,Abbreviation,UID
0,Alabama,AL,January,45.525000,Alabama,95.0,4858979,Ala.,AlabamaJanuary
1,Alaska,AK,January,11.930000,Alaska,1.0,738432,Alaska,AlaskaJanuary
2,Arizona,AZ,January,45.960000,Arizona,60.0,6828065,Ariz.,ArizonaJanuary
3,Arkansas,AR,January,40.433333,Arkansas,57.0,2978204,Ark.,ArkansasJanuary
4,California,CA,January,49.237500,California,251.0,39144818,Calif.,CaliforniaJanuary

In [9]:
flu_df['UID'] = flu_df['State'] + flu_df['Month']

weather_pop_flu_df=pd.merge(weather_pop_df, flu_df, on="UID", how="left")
weather_pop_flu_df.head()

,US State Name,State_x,Month_x,Avg_temp,state_name,Density (Pop./ mi2),Population,Abbreviation,UID,State_y,Month_y,sick death,all death
0,Alabama,AL,January,45.525000,Alabama,95.0,4858979,Ala.,AlabamaJanuary,Alabama,January,93.255814,1081.883721
1,Alaska,AK,January,11.930000,Alaska,1.0,738432,Alaska,AlaskaJanuary,Alaska,January,4.813953,82.255814
2,Arizona,AZ,January,45.960000,Arizona,60.0,6828065,Ariz.,ArizonaJanuary,Arizona,January,90.232558,1099.395349
3,Arkansas,AR,January,40.433333,Arkansas,57.0,2978204,Ark.,ArkansasJanuary,Arkansas,January,67.418605,660.209302
4,California,CA,January,49.237500,California,251.0,39144818,Calif.,CaliforniaJanuary,California,January,612.139535,5480.674419

In [10]:
weather_pop_flu_gdp_df=pd.merge(weather_pop_flu_df, gdp_df, left_on="US State Name",right_on="State", how="left")
weather_pop_flu_gdp_df.head()

,US State Name,State_x,Month_x,Avg_temp,state_name,Density (Pop./ mi2),Population,Abbreviation,UID,State_y,Month_y,sick death,all death,State,GDP per capita
0,Alabama,AL,January,45.525000,Alabama,95.0,4858979,Ala.,AlabamaJanuary,Alabama,January,93.255814,1081.883721,Alabama,"36,404"
1,Alaska,AK,January,11.930000,Alaska,1.0,738432,Alaska,AlaskaJanuary,Alaska,January,4.813953,82.255814,Alaska,"69,326"
2,Arizona,AZ,January,45.960000,Arizona,60.0,6828065,Ariz.,ArizonaJanuary,Arizona,January,90.232558,1099.395349,Arizona,"38,340"
3,Arkansas,AR,January,40.433333,Arkansas,57.0,2978204,Ark.,ArkansasJanuary,Arkansas,January,67.418605,660.209302,Arkansas,"35,412"
4,California,CA,January,49.237500,California,251.0,39144818,Calif.,CaliforniaJanuary,California,January,612.139535,5480.674419,California,"54,232"

In [11]:
weather_pop_flu_gdp_age_df=pd.merge(weather_pop_flu_gdp_df, age_df, left_on="US State Name",right_on="State", how="left")
weather_pop_flu_gdp_age_df.head()

,US State Name,State_x,Month_x,Avg_temp,state_name,Density (Pop./ mi2),Population,Abbreviation,UID,State_y,...,all death,State_x,GDP per capita,State_y,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+
0,Alabama,AL,January,45.525000,Alabama,95.0,4858979,Ala.,AlabamaJanuary,Alabama,...,1081.883721,Alabama,"36,404",Alabama,0.24,0.09,0.11,0.26,0.14,0.17
1,Alaska,AK,January,11.930000,Alaska,1.0,738432,Alaska,AlaskaJanuary,Alaska,...,82.255814,Alaska,"69,326",Alaska,0.27,0.09,0.14,0.26,0.13,0.11
2,Arizona,AZ,January,45.960000,Arizona,60.0,6828065,Ariz.,ArizonaJanuary,Arizona,...,1099.395349,Arizona,"38,340",Arizona,0.25,0.09,0.12,0.25,0.12,0.17
3,Arkansas,AR,January,40.433333,Arkansas,57.0,2978204,Ark.,ArkansasJanuary,Arkansas,...,660.209302,Arkansas,"35,412",Arkansas,0.25,0.09,0.11,0.25,0.13,0.17
4,California,CA,January,49.237500,California,251.0,39144818,Calif.,CaliforniaJanuary,California,...,5480.674419,California,"54,232",California,0.24,0.10,0.14,0.27,0.12,0.14

In [12]:
pd.to_numeric(weather_pop_flu_gdp_age_df["Population"])
weather_pop_flu_gdp_age_df["Sick_death_rate(in 1000 people_wkly)"]=weather_pop_flu_gdp_age_df["sick death"]/(weather_pop_flu_gdp_age_df["Population"]/1000)
weather_pop_flu_gdp_age_df["All_death_rate(in 1000 people_wkly)"]=weather_pop_flu_gdp_age_df["all death"]/(weather_pop_flu_gdp_age_df["Population"]/1000)
weather_pop_flu_gdp_age_df["sick of all death"]=weather_pop_flu_gdp_age_df["sick death"]/weather_pop_flu_gdp_age_df["all death"]
weather_pop_flu_gdp_age_df.head()

,US State Name,State_x,Month_x,Avg_temp,state_name,Density (Pop./ mi2),Population,Abbreviation,UID,State_y,...,State_y,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,Sick_death_rate(in 1000 people_wkly),All_death_rate(in 1000 people_wkly),sick of all death
0,Alabama,AL,January,45.525000,Alabama,95.0,4858979,Ala.,AlabamaJanuary,Alabama,...,Alabama,0.24,0.09,0.11,0.26,0.14,0.17,0.019192,0.222657,0.086198
1,Alaska,AK,January,11.930000,Alaska,1.0,738432,Alaska,AlaskaJanuary,Alaska,...,Alaska,0.27,0.09,0.14,0.26,0.13,0.11,0.006519,0.111393,0.058524
2,Arizona,AZ,January,45.960000,Arizona,60.0,6828065,Ariz.,ArizonaJanuary,Arizona,...,Arizona,0.25,0.09,0.12,0.25,0.12,0.17,0.013215,0.161011,0.082075
3,Arkansas,AR,January,40.433333,Arkansas,57.0,2978204,Ark.,ArkansasJanuary,Arkansas,...,Arkansas,0.25,0.09,0.11,0.25,0.13,0.17,0.022637,0.221680,0.102117
4,California,CA,January,49.237500,California,251.0,39144818,Calif.,CaliforniaJanuary,California,...,California,0.24,0.10,0.14,0.27,0.12,0.14,0.015638,0.140010,0.111691

In [13]:
final_table=weather_pop_flu_gdp_age_df[["US State Name" , "State_x" , "Month_x","Avg_temp","Density (Pop./ mi2)","Population","sick death","all death","Children 0-18","Adults 19-25","Adults 26-34","Adults 35-54","Adults 55-64","65+","Sick_death_rate(in 1000 people_wkly)","All_death_rate(in 1000 people_wkly)","sick of all death","GDP per capita"]]
final_table

,US State Name,State_x,State_x,Month_x,Avg_temp,Density (Pop./ mi2),Population,sick death,all death,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,Sick_death_rate(in 1000 people_wkly),All_death_rate(in 1000 people_wkly),sick of all death,GDP per capita
0,Alabama,AL,Alabama,January,45.525000,95.0,4858979,93.255814,1081.883721,0.24,0.09,0.11,0.26,0.14,0.17,0.019192,0.222657,0.086198,"36,404"
1,Alaska,AK,Alaska,January,11.930000,1.0,738432,4.813953,82.255814,0.27,0.09,0.14,0.26,0.13,0.11,0.006519,0.111393,0.058524,"69,326"
2,Arizona,AZ,Arizona,January,45.960000,60.0,6828065,90.232558,1099.395349,0.25,0.09,0.12,0.25,0.12,0.17,0.013215,0.161011,0.082075,"38,340"
3,Arkansas,AR,Arkansas,January,40.433333,57.0,2978204,67.418605,660.209302,0.25,0.09,0.11,0.25,0.13,0.17,0.022637,0.221680,0.102117,"35,412"
4,California,CA,California,January,49.237500,251.0,39144818,612.139535,5480.674419,0.24,0.10,0.14,0.27,0.12,0.14,0.015638,0.140010,0.111691,"54,232"
5,Colorado,CO,Colorado,January,27.080000,52.0,5456574,60.325581,731.604651,0.24,0.09,0.14,0.27,0.13,0.14,0.011056,0.134078,0.082457,"50,728"
6,Connecticut,CT,Connecticut,January,28.600000,741.0,3590886,61.162791,645.767442,0.22,0.09,0.11,0.27,0.15,0.17,0.017033,0.179835,0.094713,"63,833"
7,Delaware,DE,Delaware,January,32.400000,485.0,945934,14.837209,179.953488,0.22,0.08,0.12,0.25,0.14,0.18,0.015685,0.190239,0.082450,"63,101"
8,Florida,FL,Florida,January,59.276923,378.0,20271272,259.860465,3878.139535,0.21,0.08,0.11,0.25,0.14,0.20,0.012819,0.191312,0.067006,"38,492"
9,Georgia,GA,Georgia,January,46.100000,177.0,10214860,124.883721,1637.790698,0.26,0.09,0.12,0.27,0.12,0.14,0.012226,0.160334,0.076251,"42,858"
10,Hawaii,HI,Hawaii,January,71.225000,222.0,1431603,25.790698,215.558140,0.23,0.07,0.13,0.25,0.13,0.18,0.018015,0.150571,0.119646,"49,681"
11,Idaho,ID,Idaho,January,30.400000,20.0,1654930,22.279070,258.627907,0.27,0.09,0.11,0.24,0.13,0.15,0.013462,0.156277,0.086143,"34,804"
12,Illinois,IL,Illinois,January,23.900000,231.0,12859995,207.558140,2236.395349,0.24,0.09,0.12,0.26,0.13,0.15,0.016140,0.173903,0.092809,"51,977"
13,Indiana,IN,Indiana,January,27.475000,184.0,6619680,123.279070,1305.744186,0.25,0.09,0.12,0.26,0.13,0.15,0.018623,0.197252,0.094413,"43,531"
14,Iowa,IA,Iowa,January,19.650000,55.0,3123899,62.000000,625.720930,0.25,0.09,0.11,0.25,0.14,0.16,0.019847,0.200301,0.099086,"47,903"
15,Kansas,KS,Kansas,January,30.460000,36.0,2911641,53.465116,559.534884,0.26,0.09,0.12,0.24,0.13,0.15,0.018363,0.192172,0.095553,"45,544"
16,Kentucky,KY,Kentucky,January,34.225000,112.0,4425092,101.860465,960.255814,0.24,0.09,0.11,0.26,0.14,0.16,0.023019,0.217002,0.106076,"37,987"
17,Louisiana,LA,Louisiana,January,50.825000,108.0,4670724,69.790698,917.302326,0.26,0.09,0.12,0.25,0.13,0.15,0.014942,0.196394,0.076083,"45,366"
18,Maine,ME,Maine,January,16.250000,43.0,1329328,25.511628,289.255814,0.20,0.07,0.11,0.26,0.16,0.20,0.019191,0.217596,0.088197,"38,076"
19,Maryland,MD,Maryland,January,32.900000,618.0,6006401,89.325581,968.069767,0.24,0.09,0.12,0.27,0.14,0.15,0.014872,0.161173,0.092272,"54,060"
20,Massachusetts,MA,Massachusetts,January,26.200000,871.0,6794422,127.697674,1203.767442,0.22,0.09,0.13,0.27,0.14,0.16,0.018794,0.177170,0.106082,"62,332"
21,Michigan,MI,Michigan,January,21.411111,175.0,9922576,157.883721,1945.069767,0.23,0.09,0.11,0.25,0.14,0.17,0.015912,0.196025,0.081171,"40,521"
22,Minnesota,MN,Minnesota,January,11.500000,68.0,5489594,80.627907,871.325581,0.24,0.09,0.12,0.26,0.14,0.15,0.014687,0.158723,0.092535,"51,658"
23,Mississippi,MS,Mississippi,January,44.366667,63.0,2992333,59.139535,654.046512,0.26,0.10,0.11,0.25,0.13,0.16,0.019764,0.218574,0.090421,"31,657"
24,Missouri,MO,Missouri,January,31.275000,88.0,6083672,115.046512,1248.558140,0.24,0.09,0.12,0.25,0.14,0.16,0.018911,0.205231,0.092143,"42,366"
25,Montana,MT,Montana,January,23.133333,7.0,1032949,16.465116,189.209302,0.23,0.09,0.11,0.24,0.15,0.18,0.015940,0.183174,0.087021,"38,526"
26,Nebraska,NE,Nebraska,January,24.262500,24.0,1896190,35.302326,343.441860,0.26,0.09,0.12,0.24,0.13,0.15,0.018618,0.181122,0.102790,"51,274"
27,Nevada,NV,Nevada,January,32.820000,26.0,2890845,42.069767,459.837209,0.24,0.09,0.13,0.27,0.13,0.16,0.014553,0.159067,0.091488,"43,846"
28,New Hampshire,NH,New Hampshire,January,12.650000,148.0,1330608,22.906977,241.488372,0.20,0.08,0.11,0.27,0.16,0.18,0.017215,0.181487,0.094857,"49,176"
29,New Jersey,NJ,New Jersey,January,33.366667,1218.0,8958013,121.093023,1570.790698,0.23,0.08,0.12,0.27,0.14,0.16,0.013518,0.175350,0.077090,"55,562"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,Massachusetts,MA,Massachusetts,December,31.800000,871.0,6794422,92.823529,1095.823529,0.22,0.09,0.13,0.27,0.14,0.16,0.013662,0.161283,0.084707,"62,332"
571,Michigan,MI,Michigan,December,26.666667,175.0,9922576,124.911765,1845.941176,0.23,0.09,0.11,0.25,0.14,0.17,0.012589,0.186034,0.067668,"40,521"
572,Minnesota,MN,Minnesota,December,15.960000,68.0,5489594,62.029412,840.441176,0.24,0.09,0.12,0.26,0.14,0.15,0.011299,0.153097,0.073806,"51,658"
573,Mississippi,MS,Mississippi,December,46.666667,63.0,2992333,48.470588,626.000000,0.26,0.10,0.11,0.25,0.13,0.16,0.016198,0.209201,0.077429,"31,657"
574,Missouri,MO,Missouri,December,33.950000,88.0,6083672,88.029412,1177.411765,0.24,0.09,0.12,0.25,0.14,0.16,0.014470,0.193536,0.074765,"42,366"
575,Montana,MT,Montana,December,22.666667,7.0,1032949,12.970588,185.647059,0.23,0.09,0.11,0.24,0.15,0.18,0.012557,0.179725,0.069867,"38,526"
576,Nebraska,NE,Nebraska,December,25.500000,24.0,1896190,25.911765,320.352941,0.26,0.09,0.12,0.24,0.13,0.15,0.013665,0.168946,0.080885,"51,274"
577,Nevada,NV,Nevada,December,32.540000,26.0,2890845,33.205882,430.735294,0.24,0.09,0.13,0.27,0.13,0.16,0.011487,0.149000,0.077091,"43,846"
578,New Hampshire,NH,New Hampshire,December,18.450000,148.0,1330608,16.323529,220.617647,0.20,0.08,0.11,0.27,0.16,0.18,0.012268,0.165802,0.073990,"49,176"
579,New Jersey,NJ,New Jersey,December,37.866667,1218.0,8958013,89.088235,1445.382353,0.23,0.08,0.12,0.27,0.14,0.16,0.009945,0.161351,0.061636,"55,562"
580,New Mexico,NM,New Mexico,December,37.166667,17.0,2085109,26.558824,342.617647,0.25,0.09,0.12,0.24,0.14,0.17,0.012737,0.164316,0.077517,"40,582"
581,New York,NY,New York,December,32.700000,420.0,19795791,159.588235,1983.323529,0.22,0.09,0.13,0.26,0.13,0.16,0.008062,0.100189,0.080465,"62,414"
582,North Carolina,NC,North Carolina,December,43.683333,206.0,10042802,145.823529,1733.058824,0.24,0.09,0.12,0.27,0.13,0.16,0.014520,0.172567,0.084142,"43,365"
583,North Dakota,ND,North Dakota,December,13.925000,10.0,756927,10.676471,121.852941,0.24,0.10,0.14,0.24,0.13,0.15,0.014105,0.160984,0.087618,"61,883"
584,Ohio,OH,Ohio,December,31.475000,284.0,11614373,171.764706,2267.852941,0.24,0.09,0.12,0.25,0.14,0.17,0.014789,0.195263,0.075739,"44,923"
585,Oklahoma,OK,Oklahoma,December,39.600000,57.0,3911338,66.147059,772.411765,0.26,0.09,0.12,0.25,0.13,0.15,0.016912,0.197480,0.085637,"42,193"
586,Oregon,OR,Oregon,December,37.075000,41.0,4028977,44.205882,686.823529,0.22,0.09,0.13,0.26,0.13,0.17,0.010972,0.170471,0.064363,"49,325"
587,Pennsylvania,PA,Pennsylvania,December,33.025000,286.0,12802503,171.235294,2617.382353,0.22,0.08,0.12,0.25,0.14,0.18,0.013375,0.204443,0.065422,"48,120"
588,Rhode Island,RI,Rhode Island,December,34.300000,1021.0,1056298,17.470588,198.352941,0.21,0.09,0.12,0.26,0.14,0.17,0.016539,0.187781,0.088078,"46,449"
589,South Carolina,SC,South Carolina,December,48.525000,162.0,4896146,69.617647,920.441176,0.23,0.09,0.11,0.26,0.14,0.18,0.014219,0.187993,0.075635,"35,861"
590,South Dakota,SD,South Dakota,December,19.750000,11.0,858469,13.529412,149.676471,0.26,0.09,0.12,0.24,0.14,0.16,0.015760,0.174353,0.090391,"46,928"
591,Tennessee,TN,Tennessee,December,40.816667,160.0,6600299,116.176471,1307.705882,0.24,0.09,0.12,0.26,0.13,0.16,0.017602,0.198128,0.088840,"41,141"
592,Texas,TX,Texas,December,48.314286,105.0,27469114,302.558824,3715.676471,0.28,0.10,0.13,0.26,0.11,0.12,0.011015,0.135267,0.081428,"50,787"
593,Utah,UT,Utah,December,29.050000,36.0,2995919,24.911765,326.647059,0.32,0.11,0.13,0.24,0.10,0.11,0.008315,0.109031,0.076265,"42,645"
594,Vermont,VT,Vermont,December,25.800000,67.0,626042,9.500000,111.029412,0.20,0.09,0.11,0.25,0.16,0.19,0.015175,0.177351,0.085563,"42,823"
595,Virginia,VA,Virginia,December,40.425000,212.0,8382993,88.264706,1287.264706,0.24,0.09,0.12,0.27,0.13,0.15,0.010529,0.153557,0.068568,"51,500"
596,Washington,WA,Washington,December,35.728571,107.0,7170351,81.000000,1032.676471,0.24,0.09,0.13,0.26,0.13,0.15,0.011297,0.144020,0.078437,"54,082"
597,West Virginia,WV,West Virginia,December,35.275000,76.0,1844128,39.705882,443.529412,0.22,0.08,0.10,0.26,0.15,0.19,0.021531,0.240509,0.089523,"35,776"
598,Wisconsin,WI,Wisconsin,December,23.150000,106.0,5771337,69.941176,1015.617647,0.23,0.09,0.11,0.26,0.14,0.17,0.012119,0.175976,0.068866,"45,492"
599,Wyoming,WY,Wyoming,December,24.375000,6.0,586107,7.058824,90.617647,0.25,0.09,0.12,0.24,0.14,0.16,0.012044,0.154609,0.077897,"62,200"

In [15]:
final_table.to_csv("Resources/final_data.csv", index=True, header=True)